<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDed8P2_zCPrV3wE_26iGqh_Llrqvr7hk4</string>
	<key>GCM_SENDER_ID</key>
	<string>648324664299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batukucukaydin.BitirmeProje</string>
	<key>PROJECT_ID</key>
	<string>bitirmeproje-7d083</string>
	<key>STORAGE_BUCKET</key>
	<string>bitirmeproje-7d083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648324664299:ios:c41eacfa949c57eff8a7ae</string>
</dict>
</plist>